<section id="services">
  <div class="xl-plus:max-w-[1320px] w-full mx-auto px-4">
    <div class="pt-[120px]">
      <div class="flex flex-wrap -mx-4">
        <div class="text-center max-w-[600px] mb-[70px] mx-auto">
          <span
            class="text-daniel-jack-blue font-semibold text-lg leading-7 block mb-2"
            >What we offer?</span
          >
          <h2
            class="sm:text-[45px] xs:text-2xl xs:leading-10 text-custom-dark-blue font-bold text-3xl leading-9 mb-5"
          >
            {{ "services.title" | translate }}
          </h2>
          <p class="text-custom-gray font-medium text-lg leading-7 m-0">
            There are many variations of passages of Lorem Ipsum available but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="px-4 md-plus:w-1/2 lg-plus:w-1/4">
            <app-card></app-card>
        </div>
        <div class="px-4 md-plus:w-1/2 lg-plus:w-1/4">
            <app-card></app-card>
        </div>
        <div class="px-4 md-plus:w-1/2 lg-plus:w-1/4">
            <app-card></app-card>
        </div>
        <div class="px-4 md-plus:w-1/2 lg-plus:w-1/4">
            <app-card></app-card>
        </div>
      </div>
      
    </div>
  </div>
</section>
