<footer class="shadow bg-color-6">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <a
        href="#home"
        fragment="home"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src="../../../assets/img/Moven-logo-badge.png"
          class="h-8"
          alt="MovenLabs Logo"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-color-1"
          >MovenLabs</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-0 text-sm font-medium text-color-3"
      >
        <li>
          <a href="#about" fragment="about" class="hover:underline me-4 md:me-6"
            >About</a
          >
        </li>
        <li>
          <a
            href="#services"
            fragment="services"
            class="hover:underline me-4 md:me-6"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#projects"
            fragment="projects"
            class="hover:underline me-4 md:me-6"
            >Projects</a
          >
        </li>
        <li>
          <a href="#" fragment="contact" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-color-3 sm:mx-auto lg:my-8" />
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <span class="text-sm sm:text-center text-color-3"
        >© 2023 Company Name™. All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.linkedin.com/in/steven-truong-20426810b/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-color-3 hover:text-color-4 ms-5"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            class="fill-current block align-middle group-hover:fill-white"
          >
            <path
              d="M13.0214 0H1.02084C0.453707 0 0 0.451613 0 1.01613V12.9839C0 13.5258 0.453707 14 1.02084 14H12.976C13.5432 14 13.9969 13.5484 13.9969 12.9839V0.993548C14.0422 0.451613 13.5885 0 13.0214 0ZM4.15142 11.9H2.08705V5.23871H4.15142V11.9ZM3.10789 4.3129C2.42733 4.3129 1.90557 3.77097 1.90557 3.11613C1.90557 2.46129 2.45002 1.91935 3.10789 1.91935C3.76577 1.91935 4.31022 2.46129 4.31022 3.11613C4.31022 3.77097 3.81114 4.3129 3.10789 4.3129ZM11.9779 11.9H9.9135V8.67097C9.9135 7.90323 9.89082 6.8871 8.82461 6.8871C7.73571 6.8871 7.57691 7.74516 7.57691 8.60322V11.9H5.51254V5.23871H7.53154V6.16452H7.55423C7.84914 5.62258 8.50701 5.08065 9.52785 5.08065C11.6376 5.08065 12.0232 6.43548 12.0232 8.2871V11.9H11.9779Z"
            ></path>
          </svg>
          <span class="sr-only">Linkdln account</span>
        </a>
      </div>
    </div>
  </div>
</footer>
