<nav class="border-gray-200 py-2.5 fixed top-0 left-0 w-full z-50 bg-color-5 bg-opacity-90 backdrop-blur-sm">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
        <a href="#" class="flex items-center">
            <img src="../../../assets/img/Moven-logo-badge.png" class="h-6 mr-3 sm:h-9" alt="Landwind Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-color-1">MovenLabs</span>
        </a>
        <div class="flex items-center lg:order-1">
            <!-- <a href="https://themesberg.com/product/tailwind-css/landing-page"
                class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Download</a> -->
            <button
                type="button"
                class="inline-flex items-center p-2 ml-1 text-sm text-white rounded-lg lg:hidden"
                (click)="toggleMenu()"
                [attr.aria-expanded]="menuOpen"
            >
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div
            class="items-center justify-end w-full lg:flex lg:w-auto lg:order-2"
            [ngClass]="{ hidden: !menuOpen }"
            id="mobile-menu-2"
        >
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a href="#about"
                        class="block py-2 pl-3 pr-4 text-color-1 hover:text-color-2 rounded lg:p-0">About</a>
                </li>
                <li>
                    <a href="#services"
                        class="block py-2 pl-3 pr-4 text-color-1 hover:text-color-2 rounded lg:p-0">Services</a>
                </li>
                <li>
                    <a href="#projects"
                        class="block py-2 pl-3 pr-4 text-color-1 hover:text-color-2 rounded lg:p-0">Projects</a>
                </li>
                <li>
                    <a href="#resume"
                        class="block py-2 pl-3 pr-4 text-color-1 hover:text-color-2 rounded lg:p-0">Resume</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
